@font-face {
    font-family: HankenGrotesk;
    src: url("./fonts/HankenGrotesk-VariableFont_wght.ttf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 177, 177, 0.09);
}
.result-summary-card {
    width: 600px;
    height: 400px;
    box-shadow:
  4.5px 4.5px 12.4px -54px rgba(0, 0, 0, 0.025),
  12.5px 12.5px 34.2px -54px rgba(0, 0, 0, 0.045),
  30.1px 30.1px 82.3px -54px rgba(0, 0, 0, 0.064),
  100px 100px 273px -54px rgba(0, 0, 0, 0.11);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result-summary-card .score-card {
    width: 100%;
    border-radius: 30px;
    background: rgb(95,63,250);
    background: linear-gradient(180deg, rgba(95,63,250,1) 0%, rgba(43,25,181,1) 96%, rgba(70,51,237,1) 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.result-summary-card .score-card .card-heading, .result-summary-card .summary-card .card-heading {
    color: #c8c8c8;
    font-family: HankenGrotesk;
    padding-bottom: 20px;
}
.result-summary-card .score-card .percentage-counter {
    border-radius: 100%;
    background: rgb(72,38,210);
    background: linear-gradient(180deg, rgba(72,38,210,1) 0%, rgba(69,44,223,1) 81%, rgba(70,51,237,1) 100%);
    width: 180px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.result-summary-card .score-card .percentage-counter h2 {
    color: white;
    font-family: HankenGrotesk;
    font-size: 50px;
}
.result-summary-card .score-card .percentage-counter p {
    color: #c8c8;
    font-family: HankenGrotesk;
    font-size: 14px;
    font-weight: 600;
}
.result-summary-card .score-card .result-title {
    color: white;
    font-family: HankenGrotesk;
    font-size: 28px;
    letter-spacing: 1px;
    padding: 14px 0px;
}
.result-summary-card .score-card .result-description {
    width: 80%;
    text-align: center;
    color: #bdbdbd;
    font-family: HankenGrotesk;
    font-size: 12px;
    font-weight: 600;
}

.result-summary-card .summary-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 30px;
}
.result-summary-card .summary-card .result-scores {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.result-summary-card .summary-card .result-scores .score-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-family: HankenGrotesk;
    margin-bottom: 20px;
}
.result-summary-card .summary-card .result-scores .score-category > div {
    display: flex;
    align-items: center;
    justify-content: start;
}
.result-summary-card .summary-card .result-scores .score-category .category-name {
    padding-left: 8px;
    font-size: 14px;
    font-weight: 700;
}
.result-summary-card .summary-card .result-scores .score-category .score {
    font-weight: 800;
    color: #707070;
    font-size: 12px;
}
.result-summary-card .summary-card .result-scores .score-category .score .score-obtained {
    font-size: 12px;
    color: #000000c3;
    padding-right: 4px;
}
#category-reaction {
    background-color: #fbdedc;
}
#category-reaction .category-name {
    color: #CD727A;
}
#category-memory {
    background-color: #fff6d8;
}
#category-memory .category-name {
    color: #F0BB54;
}
#category-verbal {
    background-color: #defdfa;
}
#category-verbal .category-name {
    color: #48AC90;
}
#category-visual {
    background-color: #e7e7ff;
}
#category-visual .category-name {
    color: #3B46B8;
}
.result-summary-card .summary-card .continue-btn {
    width: 100%;
    border-radius: 50px;
    padding: 16px;
    outline: none;
    border: none;
    background-color: #303B59;
    color: whitesmoke;
    font-family: HankenGrotesk;
    font-weight: 600;
    transition: all 0.4s;
    cursor: pointer;
}
.result-summary-card .summary-card .continue-btn:hover {
    background: rgb(95,63,250);
    background: linear-gradient(180deg, rgba(95,63,250,1) 0%, rgba(43,25,181,1) 96%, rgba(70,51,237,1) 100%);
}

@media screen and (max-width: 550px) {
    .container {
        height: 100%;
    }
    .result-summary-card {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .result-summary-card .score-card {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .result-summary-card .score-card .percentage-counter {
        width: 140px;
        height: 140px;
    }
    .result-summary-card .score-card .result-title {
        font-size: 24px;
    }
    .result-summary-card .score-card .result-description {
        font-size: 12px;
        width: 100%;
    }

    .result-summary-card .summary-card .result-scores .score-category .category-name {
        font-size: 12px;
    }
}